@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-bg-light: #e7f0fa;

  --color-blue-light: #7ba4d0;
  --color-blue-light2: #c3dbfa;
  --color-blue-main: #2e5e99;
  --color-brand: #0d2440;
  /* teal */
  /* --color-brand: #00978c; */
  --color-teal-2: #33aca3;
  --color-teal-3: #66c1ba;
  --color-teal-4: #99d5d1;
  --color-teal-5: #cceae8;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar {
  border: none !important;
  width: 100% !important;
  font-family: inter, sans;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.rbc-btn-group:first-child {
  display: none !important;
}
.rbc-btn-group:last-child {
  font-size: 13px !important;
}
.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #edf9fd !important;
  margin: 2px;
}
.rbc-btn-group:last-child button.rbc-active {
  box-shadow: none !important;
  background-color: #c3ebfa !important;
}
.rbc-toolbar-label {
  text-align: right !important;
}
.rbc-time-view {
  border-color: #eee !important;
}

.rbc-allday-cell {
  display: none !important;
}
.rbc-time-content {
  border: none !important;
}
.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}
.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 0px !important;
  /* margin: 10px !important; */
  width: 99% !important;
}
.rbc-day-slot .rbc-events-container {
  margin-right: 0 !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #edf9fd !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #edf9fd !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}

/* .react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: "#000" !important;
  color: #000 !important;
} */
